<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>博客发布</title>
		<link href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
		<script th:src="@{/lib/editormd/editormd.min.js}"></script>

		<link rel="stylesheet" th:href="@{/css/customize.css}" />

		<link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.min.css}">
	</head>
	<body>

		<!-- 导航 -->
		<nav class="ui inverted attached segment m-shadow-small">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu m-padded-tb-mini">
					<h2 class="ui teal header item">后台管理</h2>
					<a th:href="@{/admin/index}" href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
					<a th:href="@{/admin/blogs}" class="active m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
					<a th:href="@{/admin/types}" href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
					<a th:href="@{/admin/tags}" href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
					<div class="m-item m-mobile-hide right menu">
						<div class="ui dropdown item">
							<div class="text">
								<img class="ui avatar image" src="https://picsum.photos/id/1041/100/100">
								星辰破晓
							</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<a href="#" class="item">注销</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>

		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a class="teal active item" href="#">发布</a>
					<a class="item" href="#" th:href="@{/admin/blogs}">列表</a>
				</div>
			</div>
		</div>

		<!-- 中间内容 -->
		<div class="m-container-big m-padded-tb-big">
			<div class="ui container">
				<form id="blog-form" th:object="${blog}" action="#" th:action="*{id}==null ? @{/admin/blogs} : @{/admin/blogs/{id}(id=*{id})}" method="post" class="ui form">
					<input type="hidden" name="published">
					<div class="required field">
						<div class="ui left labeld input">
							<div class="ui teal basic selection compact dropdown label">
								<input type="hidden" value="原创" name="flag" th:value="*{flag}" />
								<i class="dropdown icon"></i>
								<div class="text">原创</div>
								<div class="menu">
									<div class="item" data-value="原创">原创</div>
									<div class="item" data-value="转载">转载</div>
									<div class="item" data-value="翻译">翻译</div>
								</div>
							</div>
							<input type="text" name="title" th:value="*{title}" placeholder="标题">
						</div>
					</div>

					<div class="required field">
						<div id="md-content" style="z-index: 1 !important;">
							<textarea placeholder="博客内容" name="content" style="display: none;" th:text="*{content}"></textarea>
						</div>
					</div>

					<div class="two fields">
						<div class="required field">
							<div class="ui left labeled action input">
								<div class="ui compact teal basic label">
									分类
								</div>
								<div class="ui selection dropdown">
									<input type="hidden" name="typeId" th:value="*{typeId}" />
									<i class="dropdown icon"></i>
									<div class="default text">分类</div>
									<div class="menu">
										<div class="item" th:each="type : ${typeList}" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
									</div>
								</div>
							</div>
						</div>
						<div class="field">
							<div class="ui left labeled action input">
								<div class="ui compact teal basic label">
									标签
								</div>
								<div class="ui multiple search selection dropdown">
									<input type="hidden" name="tagIds" th:value="${tagIds}"/>
									<i class="dropdown icon"></i>
									<div class="default text">标签</div>
									<div class="menu">
										<div class="item" th:each="tag : ${tagList}" th:data-value="${tag.id}" th:text="${tag.name}">SpringBoot</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="required field">
						<div class="ui left labeled input">
							<label class="ui teal basic label">首图</label>
							<input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="首图引用地址">
						</div>
					</div>

					<div class="required field">
						<textarea name="description" th:text="*{description}" maxlength="200" placeholder="博客描述..."></textarea>
					</div>

					<div class="inline fields">
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="recommend" name="recommend" checked th:checked="*{recommend eq '1'}" class="hidden" />
								<label for="recommend">推荐</label>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="shareStatement" name="shareStatement" th:checked="*{shareStatement eq '1'}" class="hidden" />
								<label for="shareStatement">转载声明</label>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="appreciation" name="appreciation" th:checked="*{appreciation eq '1'}" class="hidden" />
								<label for="appreciation">赞赏</label>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="isComment" name="isComment"  th:checked="*{isComment eq '1'}" class="hidden" />
								<label for="isComment">评论</label>
							</div>
						</div>
					</div>

					<div class="ui error message"></div>
					<div class="ui right aligned container">
						<button class="ui blue button" type="button" onclick="window.history.go(-1)">返回</button>
						<button type="button" id="save-btn" class="ui orange button">保存</button>
						<button type="button" id="publish-btn" class="ui teal button">发布</button>
					</div>
				</form>
			</div>
		</div>
		<br><br>


		<!-- 底部footer -->
		<footer class="ui inverted vertical attached segment m-padded-tb-massive">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img th:src="@{/images/wechat.jpg}" class="ui rounded image" alt=""
									style="width: 120px">
							</div>
						</div>
					</div>
					<div class="four wide column">
						<h4 class="ui inverted header m-text-spaced m-opacity-mini">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">篮球基础练习</a>
							<a href="#" class="item">SpringBoot整合Dubbo</a>
						</div>
					</div>
					<div class="four wide column">
						<h4 class="ui inverted header m-text-spaced m-opacity-mini">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Email: 1269238289@qq.com</a>
							<a href="#" class="item">QQ: 1269238289</a>
						</div>
					</div>
					<div class="five wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">Dawn</h4>
						<p class="m-text-thin m-text-spaced m-opacity-mini">
							这是我的个人博客、会分享关于编程、写作、思考和篮球相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-text-thin m-text-spaced m-opacity-mini" style="color: antiquewhite;">Copyright©2022-2023
					PersonalBlog Designed by Dawn</p>
			</div>
		</footer>


		<script>
			// 初始化Markdown编辑器
			var contentEditor;


			$(function() {
				contentEditor = editormd("md-content", {
					width: "100%",
					height: 640,
					syncScrolling: "single",
					path: "/lib/editormd/lib/"
				});

				$('.menu.toggle').click(function() {
					$('.m-item').toggleClass('m-mobile-hide');
				})

				$('.ui.dropdown').dropdown({
					on: 'hover'
				})

				$('.ui.form').form({
					fields: {
						title: {
							identifier: 'title',
							rules: [{
								type: 'empty',
								prompt: '标题：请输入博客标题'
							}]
						},
						content: {
							identifier: 'content',
							rules: [{
								type: 'empty',
								prompt: '内容：请输入博客内容'
							}]
						},
						typeId: {
							identifier: 'typeId',
							rules: [{
								type: 'empty',
								prompt: '分类：请输入博客分类'
							}]
						},
						tagId: {
							identifier: 'tagId',
							rules: [{
								type: 'empty',
								prompt: '分类：请输入博客标签'
							}]
						},
						firstPicture: {
							identifier: 'firstPicture',
							rules: [{
								type: 'empty',
								prompt: '首图：请输入首图地址'
							}]
						},
						description: {
							identifier: 'description',
							rules: [{
								type: 'empty',
								prompt: '描述：请输入博客描述'
							}]
						}
					}
				})


				$("#save-btn").click(function () {
					$('[name="published"]').val(0);
					$('[name="appreciation"]').val($("[name='appreciation']")[0].checked ? 1 : '0');
					$('[name="shareStatement"]').val($("[name='shareStatement']")[0].checked ? 1 : '0');
					$('[name="isComment"]').val($("[name='isComment']")[0].checked ? 1 : '0');
					$('[name="recommend"]').val($("[name='recommend']")[0].checked ? 1 : '0');
					$("#blog-form").submit()
				})

				$("#publish-btn").click(function () {
					$('[name="published"]').val(1);
					$('[name="appreciation"]').val($("[name='appreciation']").prop('checked') ? 1 :'0');
					$('[name="shareStatement"]').val($("[name='shareStatement']")[0].checked ? 1 : '0');
					$('[name="isComment"]').val($("[name='isComment']")[0].checked ? 1 : '0');
					$('[name="recommend"]').val($("[name='recommend']")[0].checked ? 1 : '0');
					$("#blog-form").submit()
				})
			})
		</script>



	</body>
</html>
